<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캔 분리배출 가이드</title>
</head>
<body align="center">
    <div style='display:inline-block; text-align:center; background-color:#06BF69;border-radius:10px;width:60%; margin: auto;padding:50px; min-width: 500px;'>
        <img src="../static/img/can/001.png" width="100%" height="100%"></img>
        <img src="../static/img/can/002.png" width="100%" height="100%"></img>
        <img src="../static/img/can/003.png" width="100%" height="100%"></img>
        <!-- <img src="" width="100%" height="100%"></img> -->
    </div>
</body>
</html>

<!-- 세부정보 참고 링크1 : https://seoulkfem.or.kr/notice/?idx=13123176&bmode=view -->
<!-- 세부정보 참고 링크2 : https://magazine-k.tistory.com/1032 -->