<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스티로폼 분리배출 가이드</title>
    <link type="text/css" rel="stylesheet" href="../static/css/styroform.css">
</head>
<body>
    <div><img id= "title_img" src="../static/img/styrofoam/title.jpg" width="100%"></div>
    <div><img id= "li_title_img" src="../static/img/styrofoam/bar_01.jpg" width="100%">
        <table id="result1">
            <tr>
                <td>
                    <img src="../static/img/1.jpeg" width="600px" height="600px">
                </td>
                <td>
                    <p id="title1">&#127807;스티로폼, 어떻게 배출하면 좋을까요?</p>
                    <ul>
                        <li>용기 안의 내용물, 이물질은 깨끗하게 비워주세요.</li>
                        <li>다 먹은 컵라면 용기 속 음식물 찌꺼기를 모두 제거하고<br>물에 한 번 행궈서 버리면 재활용이 쉬워집니다.<br>깨끗하게 씻은 스티로폼 용기를 햇볕에 잘 말리면 착색된 붉은 양념이 사라져요!</li>
                        <li>용기 밖의 부착상표 등 다른 재질인 부분을 모두 제거해주세요.</li>
                        <li>라벨이나 뚜껑 등 재질별로 분리하여 배출하면 재활용이 쉬워집니다.</li>
                        <li>TV 등 전자제품 구입 시 완충재로 사용되는 발포합성수지 포장재는 가급적 구입처로 반납해 주세요.</li>
                    </ul> 
                </td>
            </tr>
        </table></div>
    <div><img id= "li_title_img" src="../static/img/styrofoam/bar_02.jpg" width="100%">
        <table id="result2">
            <tr>
                <td>
                    <p id="title2">&#127807;어떤 물품들이 스티로폼일까요?</p>
                    <ol>                        
                        <li>육*장, 김치사*면 등 <b>컵라면 용기</b></li>
                        <li>냉동식품 포장에 사용되는 <b>아이스박스</b></li>
                        <li><b>일회용 도시락</b> 용기</li>
                        <li>파손 방지를 위한 <b>완충제</b> 등</li>
                    </ol> 
                </td>
                <td>
                    <table id =inner_table>
                        <tr >
                            <td>
                                <img src="../static/img/styrofoam/styroform_1.jpg" width="600px" height="400px">
                            </td>
                            <td>
                                <img src="../static/img/styrofoam/styroform_2.jpg" width="400px" height="400px">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../static/img/styrofoam/styroform_3.jpg" width="400px" height="400px">
                            </td>
                            <td>
                                <img src="../static/img/styrofoam/styroform_4.jpg" width="400px" height="400px">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table></div>
</body>
</html>